
body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    width: 200px;
    height: 150px;
    transform: perspective(800px) rotateX(-8deg) rotateY(22deg);
    border-radius: 8px;
    box-shadow: 0 0 10px #0003;
}
